:root {
  --accent-color: #28a745;
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
  --transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: var(--primary-text-color);
  background-color: var(--secondary-text-color);
}

/* rest */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */

address {
  font-style: normal;
}

/* utils */
.container {
  width: 1360px;
  margin: 0 auto;
  padding-left: 28px;
  padding-right: 28px;

  outline: 2px solid orange;
  outline-offset: -2px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.header {
  position: absolute;
  width: 100%;
}

.header .container {
  padding-left: 50px;
  padding-right: 50px;
}

.header-logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 35px;
  line-height: 1.21;
  color: var(--secondary-text-color);
}

.accent {
  margin-right: 12px;
  color: var(--accent-color);
}

.header-logo-img {
  margin-right: 10px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav-list {
  gap: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav-link {
  position: relative;
  display: block;
  padding: 21px 0;
  line-height: 1.56;
  color: var(--secondary-text-color);

  transition: color var(--transition-duration);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-nav-link:hover::after,
.header-nav-link:focus::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  height: 4px;
  width: 100%;

  background-color: var(--accent-color);
  border-radius: 4px;
}

.header-nav-link::after {
  content: '';
  display: block;
  transition: background-color var(--transition-duration);
}

/* hero */
.hero {
  padding-top: 259px;
  padding-bottom: 284px;
  max-width: 1360px;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/hero/city.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero-title {
  margin-bottom: 45px;
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  text-align: center;
  color: #e9e9e9;
}

.hero-text {
  margin-bottom: 29px;
  font-size: 22px;
  line-height: 1.67;
  text-align: center;
  color: #e9e9e9;
}

.hero-link {
  display: inline-flex;
  min-width: 165px;
  height: 48px;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: var(--secondary-text-color);
  background: var(--accent-color);
  border-radius: 5px;
  line-height: 1.56;

  transition: color var(--transition-duration), background-color var(--transition-duration);
}

.hero-link:hover,
.hero-link:focus {
  background-color: var(--secondary-text-color);
  color: var(--accent-color);
}

.button-icon {
  fill: currentColor;
}

/* about */
.about {
  padding: 40px 0 19px 0;
}

.about .container {
  padding-left: 66px;
  padding-right: 66px;
}

.about-list {
  display: flex;
  align-items: center;
  gap: 71px;
}

.about-item {
  width: calc((100% - 142px) / 3);
}

.about-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--accent-color);
  width: 67px;
  height: 67px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.about-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.about-text {
  line-height: 1.56;
  text-align: center;
  color: var(--primary-text-color);
}

/* Features */
.features-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.features-content {
  margin-left: 30px;
}

.features-main-title {
  font-weight: 400;
  font-size: 20px;
  line-height: calc(33 / 20);
  margin-bottom: 5px;
}

.features-second-title {
  font-weight: 300;
  font-size: 38px;
  line-height: calc(48 / 38);
  margin-bottom: 26px;
}

.features-text,
.features-btn {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18) 28px;
}

.features-text {
  margin-right: 44px;
  margin-bottom: 17px;
}

.features-btn {
  display: inline-block;
  padding: 11px 27px 12px 42px;
  min-width: 167px;
  align-items: center;
  border: 1px solid var(--secondary-text-color);
  border-radius: 5px;
}

/* Business Cases */
.cases-main-title {
  font-weight: 400;
  font-size: 20px;
  line-height: calc(33 / 20);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

.cases-second-title {
  font-weight: 300;
  font-size: 38px;
  line-height: calc(48 / 38);
  text-align: center;
  margin-bottom: 34px;
}

.cases-text {
  text-align: center;
  font-size: 18px;
  line-height: calc(28 / 18);
  margin-bottom: 39px;
}

/* offer */
.offer-container {
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.offer-right-side {
  padding: 84px 44px 84px 30px;
  background-color: var(--accent-color);
  width: 50%;
}

.offer-img {
  background-color: var(--accent-color);
}

.offer-text {
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 1.65;
  color: var(--secondary-text-color);
}

.offer-title {
  margin-bottom: 26px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: var(--secondary-text-color);
}

.offer-content {
  margin-bottom: 17px;
  line-height: 1.56;
  color: var(--secondary-text-color);
}

.offer-button {
  display: inline-block;
  width: 167px;
  height: 50px;
  padding: 11px 27px 12px 42px;
  line-height: 1.56px;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border: 1px solid var(--secondary-text-color);
  border-radius: 5px;
  text-align: start;
  margin-right: auto;
  cursor: pointer;
}

.business {
  padding: 50px 0 47px 0;
}
.business-caption {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  margin-bottom: 15px;
}

.business-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  margin-bottom: 34px;
}
.business-text {
  line-height: 1.56;
  text-align: center;
  margin-bottom: 39px;
}

.cases-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.cases-item {
  flex-basis: calc((100% - 8px * 3) / 4);
}

.business-list {
  /* СЕТКА */
  display: flex;
  flex-wrap: wrap;
  row-gap: 7px;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
}

.business-img {
  width: calc((100% - 3 * 8px) / 4);
}
