<section class="blog" id="blog">
  <div class="container blog-container">
    <div class="blog-box">
      <h2 class="section-toptitle section-toptitle__light">April 16 2020</h2>
      <h3 class="section-title section-title__light">Blog Post One</h3>
      <p class="section-description section-description__light">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="blog-button" type="button">Read Our Blog</button>
    </div>

    <div class="">
      <img class="blog-img" src="./images/blog-post/work-place.jpg" alt="work place" width="680" height="517" />
    </div>
  </div>
</section>