<section class="callback">
  <div class="container">
    <img src="./images/callback/callback.jpg" alt="man a send message" width="680" height="460" />
    <div class="callback-wrapper">
      <h2 class="callback-title">Request Callback</h2>
      <input class="callback-input margin-input" type="text" name="user-name" placeholder="Enter your name">
      <input class="callback-input" type="email" name="user-email" placeholder="Enter email*" required>
      <button class="callback-btn">send</button>
    </div>
  </div>
</section>