<section class="cases" id="cases">
  <div class="container">
    <h2 class="section-toptitle section-toptitle__dark">This is what we do</h2>
    <h3 class="section-title section-title__dark">Business Cases</h3>
    <p class="section-description section-description__dark">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="list cases-content-wrapper gallery">
      <li class="cases-item">
        <a href="./images/business-cases/business-img-1.jpg">
          <img src="./images/business-cases/business-img-1.jpg" alt="table" width="320" height="214" />
        </a>
      </li>
      <li class="cases-item">
        <a href="./images/business-cases/business-img-2.jpg">
          <img src="./images/business-cases/business-img-2.jpg" alt="notebook" width="320" height="214" />
        </a>
      </li>
      <li class="cases-item">
        <a href="./images/business-cases/business-img-3.jpg">
          <img src="./images/business-cases/business-img-3.jpg" alt="people" width="320" height="214" />
        </a>
      </li>
      <li class="cases-item">
        <a href="./images/business-cases/business-img-4.jpg">
          <img src="./images/business-cases/business-img-4.jpg" alt="hands" width="320" height="214" />
        </a>
      </li>
      <li class="cases-item">
        <a href="./images/business-cases/business-img-5.jpg">
          <img src="./images/business-cases/business-img-5.jpg" alt="laptop" width="320" height="214" />
        </a>
      </li>
      <li class="cases-item">
        <a href="./images/business-cases/business-img-6.jpg">
          <img src="./images/business-cases/business-img-6.jpg" alt="buildings" width="320" height="214" />
        </a>
      </li>
      <li class="cases-item">

        <a href="./images/business-cases/business-img-7.jpg">
          <img src="./images/business-cases/business-img-7.jpg" alt="team" width="320" height="214" />
        </a>

      </li>
      <li class="cases-item">
        <a href="./images/business-cases/business-img-8.jpg">
          <img src="./images/business-cases/business-img-8.jpg" alt="office" width="320" height="214" />
        </a>
      </li>
    </ul>
  </div>
</section>