<section class="cases">
  <div class="container">
    <h2 class="cases-main-title">This is what we do</h2>
    <h3 class="cases-second-title">Business Cases</h3>
    <p class="cases-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="list cases-content-wrapper">
      <li class="cases-item">
        <img
          src="./images/business-cases/business-img-1.jpg"
          alt="table"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-item">
        <img
          src="./images/business-cases/business-img-2.jpg"
          alt="notebook"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-item">
        <img
          src="./images/business-cases/business-img-3.jpg"
          alt="people"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-item">
        <img
          src="./images/business-cases/business-img-4.jpg"
          alt="hands"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-item">
        <img
          src="./images/business-cases/business-img-5.jpg"
          alt="laptop"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-item">
        <img
          src="./images/business-cases/business-img-6.jpg"
          alt="buildings"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-item">
        <img
          src="./images/business-cases/business-img-7.jpg"
          alt="team"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-item">
        <img
          src="./images/business-cases/business-img-8.jpg"
          alt="office"
          width="320"
          height="214"
        />
      </li>
    </ul>
  </div>
</section>
