<footer class="footer">
  <div class="container">
    <ul class="footer-soc-list list">
      <li class="footer-soc-item">
        <a class="footer-soc-link" href="">
          <svg class="socials-icon" width="35" height="35">
            <use href="./images/icons/icons.svg#facebook-icon"></use>
          </svg>
        </a>
      </li>
      <li class="footer-soc-item">
        <a class="footer-soc-link" href="">
          <svg class="socials-icon" width="35" height="35">
            <use href="./images/icons/icons.svg#twitter-icon"></use>
          </svg>
        </a>
      </li>
      <li class="footer-soc-item">
        <a class="footer-soc-link" href="">
          <svg class="socials-icon" width="40" height="35">
            <use href="./images/icons/icons.svg#youtube-icon"></use>
          </svg>
        </a>
      </li>
      <li class="footer-soc-item">
        <a class="footer-soc-link" href="">
          <svg class="socials-icon" width="31" height="35">
            <use href="./images/icons/icons.svg#linkedin-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer-text">Copyright © 2022 - FinanceLedger</p>
  </div>
</footer>