<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="link header-logo" href="./index.html"
        ><img
          class="header-logo-img"
          src="./images/logo/logo.svg"
          alt="logo"
          width="40"
          height="30"
        /><span class="accent">Finance</span>Ledger</a
      >
      <ul class="list header-nav-list">
        <li class="header-nav-item">
          <a class="link header-nav-link" href="">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="link header-nav-link" href="">About</a>
        </li>
        <li class="header-nav-item">
          <a class="link header-nav-link" href="">Cases</a>
        </li>
        <li class="header-nav-item">
          <a class="link header-nav-link" href="">Blog</a>
        </li>
        <li class="header-nav-item">
          <a class="link header-nav-link" href="">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
