<header class="header header-js">
  <div class="container">
    <nav class="header-nav">
      <a class="link header-logo animate__animated animate__flash" href="./index.html"><img class="header-logo-img"
          src="./images/logo/logo.svg" alt="logo" width="40" height="30" /><span class="accent">Finance</span>Ledger</a>
      <ul class="list header-nav-list">
        <li class="header-nav-item">
          <a class="link header-nav-link" href="#hero">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="link header-nav-link" href="#about">About</a>
        </li>
        <li class="header-nav-item">
          <a class="link header-nav-link" href="#cases">Cases</a>
        </li>
        <li class="header-nav-item">
          <a class="link header-nav-link" href="#blog">Blog</a>
        </li>
        <li class="header-nav-item">
          <a class="link header-nav-link" href="#team">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>