<section class="section offer">
  <div class="container offer-container">
    <img
      class="offer-img"
      src="./images/offer/team.jpg"
      alt="team photo"
      width="680"
      height="460"
    />
    <div class="offer-right-side">
      <h2 class="offer-text">What you are looking for</h2>
      <h3 class="offer-title">We provide bespoke solutions</h3>
      <p class="offer-content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="offer-button" type="button">Read More</button>
    </div>
  </div>
</section>
