<section class="slick">
  <div class="container">
    <ul class="slick-js">
      <li class="slick-item">
        <h3 class="slick-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam perferendis eum
          expedita quibusdam
          temporibus quod eos, placeat, voluptatibus iure dolores accusantium vel et asperiores quas ducimus! Totam
          exercitationem, earum eveniet unde qui doloremque facere eum quaerat. Eveniet, odit ab delectus suscipit
          recusandae, maxime, possimus harum exercitationem voluptates sint accusantium ipsam.</h3>
      </li>

      <li class="slick-item">
        <h3 class="slick-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem animi nesciunt sapiente,
          porro accusantium minima, quae, quaerat mollitia incidunt voluptatum sint obcaecati repudiandae natus ipsam
          fuga vero. Nemo veniam impedit dolor perferendis? Pariatur aliquam, autem magnam placeat facilis animi rem in
          tempora reprehenderit commodi excepturi aut, laborum, soluta perspiciatis illum ipsam. Cumque vero natus at
          voluptatibus dolorum facilis aut, quos rerum ea in nesciunt voluptate soluta sed mollitia totam culpa
          voluptatem repellat officiis quibusdam cum ipsum. Recusandae laudantium quasi quibusdam quidem iure!
          Distinctio quas natus odio nobis! Culpa, totam exercitationem dolorum dignissimos esse, id voluptatibus sed
          consequatur explicabo dicta a?</h3>
      </li>

      <li class="slick-item">
        <h3 class="slick-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam perferendis eum
          expedita quibusdam
          temporibus quod eos, placeat, voluptatibus iure dolores accusantium vel et asperiores quas ducimus! Totam
          exercitationem, earum eveniet unde qui doloremque facere eum quaerat. Eveniet, odit ab delectus suscipit
          recusandae, maxime, possimus harum exercitationem voluptates sint accusantium ipsam.</h3>
      </li>

      <li class="slick-item">
        <h3 class="slick-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam perferendis eum
          expedita quibusdam
          temporibus quod eos, placeat, voluptatibus iure dolores accusantium vel et asperiores quas ducimus! Totam
          exercitationem, earum eveniet unde qui doloremque facere eum quaerat. Eveniet, odit ab delectus suscipit
          recusandae, maxime, possimus harum exercitationem voluptates sint accusantium ipsam.</h3>
      </li>

      <li class="slick-item">
        <h3 class="slick-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam perferendis eum
          expedita quibusdam
          temporibus quod eos, placeat, voluptatibus iure dolores accusantium vel et asperiores quas ducimus! Totam
          exercitationem, earum eveniet unde qui doloremque facere eum quaerat. Eveniet, odit ab delectus suscipit
          recusandae, maxime, possimus harum exercitationem voluptates sint accusantium ipsam.</h3>
      </li>

      <li class="slick-item">
        <h3 class="slick-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam perferendis eum
          expedita quibusdam
          temporibus quod eos, placeat, voluptatibus iure dolores accusantium vel et asperiores quas ducimus! Totam
          exercitationem, earum eveniet unde qui doloremque facere eum quaerat. Eveniet, odit ab delectus suscipit
          recusandae, maxime, possimus harum exercitationem voluptates sint accusantium ipsam.</h3>
      </li>
    </ul>
  </div>
</section>