<section class="team">
  <div class="container team-container">
    <p class="team-up-text">Who we are</p>
    <h2 class="team-title">Our Professional Team</h2>
    <p class="team-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>

    <ul class="team-list">
      <li class="team-item">
        <div class="team-thumb">
          <img
            class="team-card"
            src="./images/team/jane-doe.jpg"
            alt="Photo team"
            width="420"
            height="280"
          />

          <ul class="team-social-list">
            <li class="team-social-item">
              <a
                class="social-link"
                href="https://www.facebook.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="twitter"
              >
                <svg class="socials-icon" width="35" height="35">
                  <use href="./images/icons/icons.svg#facebook-icon"></use>
                </svg>
              </a>
            </li>

            <li class="team-social-item">
              <a
                class="social-link"
                href="https://twitter.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="twitter"
              >
                <svg class="socials-icon" width="35" height="35">
                  <use href="./images/icons/icons.svg#twitter-icon"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-item">
              <a
                class="social-link"
                href="https://www.youtube.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="youtube"
              >
                <svg class="socials-icon" width="40" height="35">
                  <use href="./images/icons/icons.svg#youtube-icon"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="social-link"
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="linkedin"
              >
                <svg class="socials-icon" width="31" height="35">
                  <use href="./images/icons/icons.svg#linkedin-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="card-name">
          <h3 class="name-team">Jane Doe</h3>
          <p class="position-team">Vice President</p>
        </div>
      </li>

      <li class="team-item">
        <div class="team-thumb">
          <img
            class="team-card"
            src="./images/team/jane-doe.jpg"
            alt="Photo team"
            width="420"
            height="280"
          />

          <ul class="team-social-list">
            <li class="team-social-item">
              <a
                class="social-link"
                href="https://www.facebook.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="twitter"
              >
                <svg class="socials-icon" width="35" height="35">
                  <use href="./images/icons/icons.svg#facebook-icon"></use>
                </svg>
              </a>
            </li>

            <li class="team-social-item">
              <a
                class="social-link"
                href="https://twitter.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="twitter"
              >
                <svg class="socials-icon" width="35" height="35">
                  <use href="./images/icons/icons.svg#twitter-icon"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-item">
              <a
                class="social-link"
                href="https://www.youtube.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="youtube"
              >
                <svg class="socials-icon" width="40" height="35">
                  <use href="./images/icons/icons.svg#youtube-icon"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="social-link"
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="linkedin"
              >
                <svg class="socials-icon" width="31" height="35">
                  <use href="./images/icons/icons.svg#linkedin-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="card-name">
          <h3 class="name-team">Steve Smith</h3>
          <p class="position-team">Marketing Head</p>
        </div>
      </li>

      <li class="team-item">
        <div class="team-thumb">
          <img
            class="team-card"
            src="./images/team/jane-doe.jpg"
            alt="Photo team"
            width="420"
            height="280"
          />

          <ul class="team-social-list">
            <li class="team-social-item">
              <a
                class="social-link"
                href="https://www.facebook.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="twitter"
              >
                <svg class="socials-icon" width="35" height="35">
                  <use href="./images/icons/icons.svg#facebook-icon"></use>
                </svg>
              </a>
            </li>

            <li class="team-social-item">
              <a
                class="social-link"
                href="https://twitter.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="twitter"
              >
                <svg class="socials-icon" width="35" height="35">
                  <use href="./images/icons/icons.svg#twitter-icon"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-item">
              <a
                class="social-link"
                href="https://www.youtube.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="youtube"
              >
                <svg class="socials-icon" width="40" height="35">
                  <use href="./images/icons/icons.svg#youtube-icon"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="social-link"
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="linkedin"
              >
                <svg class="socials-icon" width="31" height="35">
                  <use href="./images/icons/icons.svg#linkedin-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="card-name">
          <h3 class="name-team">John Doe</h3>
          <p class="position-team">President</p>
        </div>
      </li>
    </ul>
  </div>
</section>
