.section-description {
  font-size: 18px;
  line-height: calc(28 / 18);

  &__light {
    color: var(--secondary-text-color);
    margin-bottom: 17px;
  }

  &__dark {
    color: var(--primary-text-color);
    margin-bottom: 40px;
    text-align: center;
  }
}
