.cases {
  padding-top: 50px;
  &-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &-item {
    flex-basis: calc((100% - 8px * 3) / 4);
  }
}

.sl-wrapper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
