.footer {
  background-color: var(--primary-text-color);
  padding: 20px 0;

  &-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 10px;
  }

  &-text {
    color: var(--secondary-text-color);
    text-align: center;

    line-height: 1.56;
  }

  & .socials-icon {
    fill: currentColor;
  }

  &-soc-link {
    color: var(--secondary-text-color);

    transition: color 250ms linear;
  }

  &-soc-link:hover,
  &-soc-link:focus {
    color: var(--accent-color);
  }
}
