.header {
  position: fixed;
  width: 100%;
  z-index: 1;

  & .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  &-logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 35px;
    line-height: 1.21;
    color: var(--secondary-text-color);
  }

  & .accent {
    margin-right: 12px;
    color: var(--accent-color);
  }

  &-logo-img {
    margin-right: 10px;
  }

  &-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-nav-list {
    gap: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-nav-link {
    position: relative;
    display: block;
    padding: 21px 0;
    line-height: 1.56;
    color: var(--secondary-text-color);

    transition: color var(--transition-duration);
  }

  &-nav-link:hover,
  &-nav-link:focus {
    color: var(--accent-color);
  }

  &-nav-link:hover::after,
  &-nav-link:focus::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    height: 4px;
    width: 100%;

    background-color: var(--accent-color);
    border-radius: 4px;
  }

  &-nav-link::after {
    content: '';
    display: block;
    transition: background-color var(--transition-duration);
  }
}
