.hero {
  padding-top: 259px;
  padding-bottom: 284px;
  max-width: 1360px;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../images/hero/city.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  &-title {
    margin-bottom: 45px;
    font-weight: 300;
    font-size: 55px;
    line-height: 1.2;
    text-align: center;
    color: #e9e9e9;
  }

  &-text {
    margin-bottom: 29px;
    font-size: 22px;
    line-height: 1.67;
    text-align: center;
    color: #e9e9e9;
  }

  &-link {
    display: inline-flex;
    min-width: 165px;
    height: 48px;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: var(--secondary-text-color);
    background: var(--accent-color);
    border-radius: 5px;
    line-height: 1.56;

    transition: color var(--transition-duration),
      background-color var(--transition-duration);
  }

  &-link:hover,
  &-link:focus {
    background-color: var(--secondary-text-color);
    color: var(--accent-color);
  }

  .button-icon {
    fill: currentColor;
  }
}
