.team {
  padding-top: 49px;

  &-container {
    padding-bottom: 59px;
    text-align: center;
  }
  &-list {
    display: flex;
    list-style-type: none;
    gap: 21px;
    padding: 0;
  }

  &-team {
    font-size: 25px;
    line-height: calc(32 / 25);
    text-align: center;
    color: var(--primary-text-color);
  }

  .position-team {
    font-size: 18px;
    line-height: calc(28 / 18);
    text-align: center;
    color: var(--primary-text-color);
  }

  .card-name {
    padding-top: 13px;
  }

  &-thumb {
    transition: var(--transition-duration);
  }

  &-thumb:hover,
  &-thumb:focus {
    transform: scale(1.04);
  }

  /* social-icon */
  &-social-list {
    list-style-type: none;
    display: flex;
    gap: 25px;
  }

  &-thumb {
    position: relative;
  }
  &-social-list {
    position: absolute;
    top: 0;
    left: 0;
    padding: 120px 100px;
  }

  .socials-icon {
    opacity: 0;
    visibility: hidden;
    transition: 250ms opacity, 250ms visibility;
  }

  &-thumb:hover .socials-icon,
  &-thumb:focus .socials-icon {
    transform: scale(1.04);
    opacity: 1;
    visibility: visible;
  }
}
